<div class="archive-header">
	<h2>
		Category: {{ .Title }}
		{{ if .Site.Params.social.rss }}
		{{ with .OutputFormats.Get "RSS" }}
		<a href="{{ .RelPermalink }}" data-animate-hover="pulse" class="in-page-rss" target="_blank">
            <i class="fas fa-rss" title="rss"></i>
            <span class="screen-reader-text">rss</span>
		</a>
		{{ end }}
		{{ end }}
	</h2>
</div>

<h1 class="screen-reader-text">Posts</h1>
<div id="loop-container" class="loop-container">
{{ range $index, $element := (where .Data.Pages "Section" "post").ByDate.Reverse }}
	{{ $odd := (eq (mod $index 2) 0) }}
	<!--- Partial List --->
	{{ partial "postlist.html" (dict "post" . "odd" $odd) }}
{{ end }}
</div>
